@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans&display=swap");

body {
  margin: 0;
  padding: 0;
}

.App {
  background-image: url("../images/background.png");
  height: 900px;
  background-repeat: no-repeat;
}

/* HEADER COMPONENT CSS */
.header {
  width: auto;
  height: 30px;
  left: 0px;
  top: 0px;
}

.nav {
  height: 30px;
  left: 0%;
  right: -0.02%;
  top: 0px;
}

.frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 17px 67px;
  background: #ffffff;
  position: absolute;
  height: 30px;
  left: 0%;
  right: 0%;
  top: 0px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.33);
}

.group {
  position: static;
  width: 285.61px;
  height: 22px;
  left: 20px;
  top: 26px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  text-align: center;
  color: #525f7f;
}

.text a {
  text-decoration: none;
  color: inherit;
}

.btn {
  position: static;
  width: 106px;
  height: 43px;
  left: 1267px;
  top: 15.5px;
  background: #3d55df;

  border: 1px solid #324cdd;
  box-sizing: border-box;

  box-shadow: 0px 7px 14px rgba(50, 50, 93, 0.1),
    0px 3px 6px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.btnText {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-right: 8px;
  letter-spacing: 0.3px;
  color: #ffffff;
}

.btnIcon {
  margin-right: 10px;
}

/* CONTENT COMPONENT CSS */
.title {
  position: absolute;
  width: 595px;
  height: 20px;
  left: 140px;
  top: 185px;

  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 27px;

  display: flex;
  align-items: center;
  color: #ffffff;
}
.content {
  position: absolute;
  width: 400px;
  height: 138px;
  left: 150px;
  top: 330px;
  background: #ffffff;

  box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11),
    0px 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

.iconCircle {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 18px;
  top: 24px;
  background: #f5365c4a;
  border-radius: 50px;
}

.icon-hat {
  position: absolute;
  width: 20.48px;
  height: 20.48px;
  left: 12.5px;
  top: 15px;
}

.textContent {
  position: absolute;
  height: 26.47px;
  left: 20%;
  right: 4.9%;
  top: 21.18px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  display: flex;
  align-items: center;

  color: #000000;
}

.content p {
  position: absolute;
  height: 71.47px;
  left: 19.59%;
  right: 7.96%;
  top: 39.71px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #525f7f;
}

.content2 {
  position: absolute;
  width: 400px;
  height: 141px;
  left: 150px;
  top: 500px;
  background: #ffffff;

  box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11),
    0px 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}
.content2 p {
  position: absolute;
  height: 71.47px;
  left: 19.59%;
  right: 7.96%;
  top: 39.71px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #525f7f;
}

.mascot {
  position: absolute;
  width: 824px;
  height: 824px;
  left: 450px;
  top: 182px;
}

.chat {
  position: absolute;
  width: 307px;
  height: 132px;
  left: 1000px;
  top: 165px;
  animation: fadeIn;
  animation-duration: 2s;
}

.chat .rectangle {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: -5.26%;
  background: #ffffff;

  box-shadow: 0px 15px 35px rgba(50, 50, 93, 0.1),
    0px 5px 15px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
}

.chat .rectangle::before,
.chat .rectangle::after {
  content: "";
  border-right: 130px solid transparent;
  border-top: 90px solid white;
  bottom: -20px;
  position: inherit;
}

.chat p {
  position: absolute;
  height: 91px;
  left: 25px;
  right: 17px;
  top: 15px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 27px;
  display: flex;
  align-items: center;

  color: #525f7f;
}

.chat2 {
  position: absolute;
  height: 82px;
  left: 78.82%;
  right: 7.99%;
  top: 350px;
  animation: fadeInRight;
  animation-duration: 5s;
}

.chat2 .rectangle {
  position: absolute;
  left: 0%;
  right: 0%;
  top: -11.59%;
  bottom: 0%;
  background: #ffffff;
  box-shadow: 0px 15px 35px rgba(50, 50, 93, 0.1),
    0px 5px 15px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
}

.chat2 .rectangle::before,
.chat2 .rectangle::after {
  content: "";
  border-right: 130px solid transparent;
  border-bottom: 90px solid white;
  top: -20px;
  position: inherit;
}

.chat2 p {
  position: absolute;
  height: 39px;
  left: 20px;
  right: 17px;
  top: 5px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #525f7f;
}
